<table>
  <{foreach from=$block item=video}>
    <tr>
      <{if $video.image}>
      <td>
        <a href="<{$xoops_url}>/modules/tad_player/play.php?psn=<{$video.psn}>"><img src="<{$xoops_url}>/uploads/tad_player/img/s_<{$video.psn}>.png" class="img-rounded" alt="<{$video.title}>" style="width:60px;"></a>
      </td>
      <{/if}>
      <td>
        <span class="label label-info"><{$video.counter}></span>
        <a href="<{$xoops_url}>/modules/tad_player/play.php?psn=<{$video.psn}>"><{$video.title}></a>
      </td>
    </tr>
  <{/foreach}>
</table>

