<{$bootstrap}>
<{$jquery}>
<{$toolbar}>

<script type="text/javascript">
$(document).ready(function() {
  var hh = $('div.thumb_height').width() * 0.75;
  $('div.thumb_height').css('height',hh);
});

</script>


<div class="row-fluid">
  <div class="span3 offset9"><{$select}></div>
</div>

<div class="row-fluid">
  <div id="path_bar" class="span12"><{$path_bar}></div>
</div>

<div class="row-fluid">
  <{if $mode=="list"}>

    <{$title}>
    <{$playcode}>


  <{else}>

    <{$rating_js}>

    <{assign var="i" value=0}>
    <{assign var="total" value=0}>


    <{if $sub_cate}>
    <{foreach item=sub_cate from=$sub_cate}>
      <{if $i==0}>
      <div class="row-fluid">
        <ul class="thumbnails">
      <{/if}>

      <li class="span3">
        <div class="thumbnail">
          <div class="thumb_height" style="background-color:black;position:relative;height:120px;overflow:hidden;">
            <a href="index.php?pcsn=<{$sub_cate.pcsn}>">
              <img src="<{$sub_cate.pic}>" alt="<{$sub_cate.title}>" style="z-index:1;">
              <div style="font-size:1em;font-weight:bold;color:#FFFFCC;position:absolute;bottom:2px;left:10px;z-index:2;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000;"><{$sub_cate.title}></div>
            </a>
          </div>
          <div class="caption">
            <div style="font-size:13px;color:#666666;text-align:center;"><{$sub_cate.num}></div>
            <{if $sub_cate.pcsn_num}><div style="font-size:13px;color:#666666;text-align:center;"><{$sub_cate.pcsn_num}></div><{/if}>
          </div>
        </div>
      </li>
      <{assign var="i" value=$i+1}>
      <{assign var="total" value=$total+1}>
      <{if $i == 4 || $total==$count}>
          </ul>
        </div>
      <{/if}>
      <{if $i == 4}><{assign var="i" value=0}><{/if}>
    <{/foreach}>
    <{/if}>

    <{if $content}>
      <{foreach item=video from=$content}>
        <{if $i==0}>
        <div class="row-fluid">
          <ul class="thumbnails">
        <{/if}>

        <li class="span3">
          <div class="thumbnail">
            <{if $video.url}><a href="<{$video.url}>" alt="<{$video.info}>" title="<{$video.info}>" style="color:white;"><{/if}>
              <div class="thumb_height" style="background-color:black;position:relative;height:120px;overflow:hidden;">
              <img src="<{$video.pic}>" alt="<{$video.img_title}>" style="z-index:1;">
              <{if $video.img_title}>
                <div style="color:#FFFFCC;font-size:12px;position:absolute;bottom:2px;left:10px;z-index:2;text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0px -1px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000, 1px 0px 0 #000;"><{$video.img_title}></div>
              <{/if}>
              </div>
            <{if $video.url}></a><{/if}>
            <div class="caption">
              <{if $video.post_date}><div style="font-size:11px;color:#666666;"><span class="badge badge-info pull-right"><{$video.counter}></span><{$video.post_date}></div><{/if}>
              <{if $rating_js}><div id="rating_psn_<{$video.psn}>"></div><{/if}>

              <div>
                <{if $video.url}><a href="<{$video.url}>" alt="<{$video.info}>" title="<{$video.info}>"><{/if}>

                <{if $video.url}></a><{/if}>
              </div>
            </div>
          </div>
        </li>

        <{assign var="i" value=$i+1}>
        <{assign var="total" value=$total+1}>
        <{if $i == 4 || $total==$count}>
            </ul>
          </div>
        <{/if}>
        <{if $i == 4}><{assign var="i" value=0}><{/if}>
      <{/foreach}>
    <{/if}>



    <p align="center" style="text-align:center;"><{$bar}></p>
  <{/if}>

  <div style="clear:both;"></div>
  <{$push}>
</div>
