<{$toolbar}>

<script type="text/javascript">
  $(document).ready(function(){
    $.post("ajax.php",  {op: "get_menu" , pcsn: $("#menu1").val() , psn: '<{$psn}>'} , function(data) {
      $("#menu2").html(data);
    });
    $("#menu1").change(function(){
      $.post("ajax.php",  {op: "get_menu" , pcsn: $("#menu1").val() , psn: '<{$psn}>'} , function(data) {
        $("#menu2").html(data);
      });
    });
  });

  function delete_tad_player_file_func(psn){
    var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
    if (!sure)  return;
    location.href="play.php?op=delete_tad_player_file&pcsn=<{$pcsn}>&psn=" + psn;
  }
</script>

<div class="alert alert-success">
  <div class="row">
    <div class="col-md-4">
      <select id="menu1" class="form-control">
        <{$cate_select}>
      </select>
    </div>
    <div class="col-md-8">
      <select id="menu2" class="form-control" onChange="location.href='play.php?psn='+this.value">
      </select>
    </div>
  </div>
</div>


<{if $title}>
  <h1><{$title}></h1>
<{/if}>


<{if $content}>
  <div class="alert alert-info">
    <{$content}>
  </div>
<{/if}>

<div class="row">
  <{$media}>
</div>


<div class="row">
  <div class="col-md-7">
    <{$push}>
  </div>

  <div class="col-md-2">
    <{$star_rating}>
  </div>

  <div class="col-md-3 text-right">
    <{if $isAdmin}>
      <a href="javascript:delete_tad_player_file_func(<{$psn}>);" class="btn btn-xs btn-danger"><{$smarty.const._TAD_DEL}></a>

      <a href="<{$xoops_url}>/modules/tad_player/uploads.php?psn=<{$psn}>#fragment-1" class="btn btn-xs btn-warning"><{$smarty.const._TAD_EDIT}></a>
    <{/if}>
  </div>

</div>


<{if $code}>
  <div class="well"><{$code}></div>
<{/if}>



<{if $facebook_comments}>
  <div class="row">
    <{$facebook_comments}>
  </div>
<{/if}>

<!--Tad Player play_tpl.html-->

<p style="clear: both">
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
</p>
