<style>
  .csn_menu,.of_csn_menu,.m_csn_menu,.p_csn_menu{
    width: 130px;
    padding: 4px;
    border: 1px solid gray;
    font-size:12px;
  }
</style>
<div class="container-fluid">
  <script>
    $(document).ready(function(){
      <{if $path_arr}>
        <{foreach from=$path_arr key=i item=sn}>
          make_option('of_csn_menu','<{$i}>','<{$sn.of_csn}>','<{$sn.def_csn}>');
        <{/foreach}>
      <{else}>
        make_option('of_csn_menu',0,0,0);
      <{/if}>
    });

    function make_option(menu_name , num , of_csn , def_csn){
      $('#'+menu_name+num).show();
      $.post('../ajax_menu.php',  {'of_csn': of_csn , 'def_csn': def_csn, 'chk_view': 0, 'chk_up': 0} , function(data) {
        $('#'+menu_name+num).html("<option value=''>/</option>"+data);
      });

      $('.'+menu_name).change(function(){
      var menu_id= $(this).attr('id');
      var len=menu_id.length-1;
      var next_num = Number(menu_id.charAt(len))+1
        var next_menu = menu_name + next_num;
        $.post('../ajax_menu.php',  {'of_csn': $('#'+menu_id).val(), 'chk_view': 0, 'chk_up': 0} , function(data) {
          if(data==""){
            $('#'+next_menu).hide();
          }else{
            $('#'+next_menu).show();
            $('#'+next_menu).html("<option value=''>/</option>"+data);
          }
        });
      });
    }

    function delete_tad_player_cate_func(pcsn){
      var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
      if (!sure)  return;
      location.href="cate.php?op=delete_tad_player_cate&pcsn=" + pcsn;
    }

  </script>

  <div class="row-fluid">
    <div class="span3">
      <div id="save_msg"></div>

      <a href="cate.php?op=tad_player_cate_form" class="btn btn-primary"><{$smarty.const._MA_TADPLAYER_ADD_CATE}></a>
      <div style="height: 300px; overflow: auto;">
        <{$ztree_code}>
      </div>
    </div>
    <div class="span9">
      <{if $now_op=="tad_player_cate_form"}>

        <form action="cate.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">

        <{if $pcsn}>
          <div class="control-group">
            <label class="span2 control-label">
            </label>
            <div class="span10 controls">
              <h2><{$title}></h2>
              <div class="alert alert-info">
                <div class="btn-group">
                  <a href="javascript:delete_tad_player_cate_func(<{$pcsn}>);" class="btn btn-danger"><{$smarty.const._TAD_DEL}></a>
                </div>
              </div>
            </div>
          </div>
        <{/if}>

          <div class="control-group">
            <label class="span2 control-label">
              <{$smarty.const._MA_TADPLAYER_OF_CSN}>
            </label>
            <div class="span10 controls">
              <select name="of_csn_menu[0]" id="of_csn_menu0" class="of_csn_menu span2"><option value=''></option></select>
              <select name="of_csn_menu[1]" id="of_csn_menu1" class="of_csn_menu span2" style="display: none;"></select>
              <select name="of_csn_menu[2]" id="of_csn_menu2" class="of_csn_menu span2" style="display: none;"></select>
              <select name="of_csn_menu[3]" id="of_csn_menu3" class="of_csn_menu span2" style="display: none;"></select>
              <select name="of_csn_menu[4]" id="of_csn_menu4" class="of_csn_menu span2" style="display: none;"></select>
              <select name="of_csn_menu[5]" id="of_csn_menu5" class="of_csn_menu span2" style="display: none;"></select>
              <select name="of_csn_menu[6]" id="of_csn_menu6" class="of_csn_menu span2" style="display: none;"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="span2 control-label">
              <{$smarty.const._MA_TADPLAYER_TITLE}>
            </label>
            <div class="span10 controls">
              <input type="text" name="title" class="span12 " value="<{$title}>" placeholder="<{$smarty.const._MA_TADPLAYER_TITLE}>">
            </div>
          </div>

          <div class="control-group">
            <label class="span2 control-label">
              <{$smarty.const._MA_TADPLAYER_ENABLE_GROUP}>
            </label>
            <div class="span4 controls">
              <{$enable_group}>
            </div>
            <label class="span2 control-label">
              <{$smarty.const._MA_TADPLAYER_ENABLE_UPLOAD_GROUP}>
            </label>
            <div class="span4 controls">
              <{$enable_upload_group}>
            </div>
          </div>

          <div class="control-group">
            <div class="span12 text-center">
              <input type="hidden" name="sort" value="<{$sort}>">
              <input type="hidden" name="pcsn" value="<{$pcsn}>">
              <input type="hidden" name="op" value="<{$op}>">
              <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
            </div>
          </div>

        </form>
      <{/if}>
    </div>
  </div>







</div>