<{$toolbar}>

<script type="text/javascript">
  $(document).ready(function() {
    var $tabs = $("#tad_player_upload_tabs").tabs();
    var last_tab=$tabs.size()-1;
    <{if $show_to_batch_upload}>$tabs.tabs("select", last_tab);<{/if}>
  });
</script>

<div id="tad_player_upload_tabs">

  <ul>
    <li><a href="#fragment-1"><span><{$smarty.const._MD_TADPLAYER_UPLOAD}></span></a></li>
    <li><a href="batch_upload.php"><span><{$smarty.const._MD_TADPLAYER_BATCH_UPLOAD}></span></a></li>
  </ul>

  <div id="fragment-1">
    <script type="text/javascript">
      $(document).ready(function() {
        <{$hide}>
        <{$hide_img}>

        $("#flv_where").change(function() {
          if ($("#flv_where").val()=="youtube") {
            $("#flv_youtube").slideDown();
            $("#flv_local").slideUp();
            $("#flv_link").slideUp();
            $("#thumb_config").hide();
          } else if ($("#flv_where").val()=="link"){
            $("#flv_link").slideDown();
            $("#flv_local").slideUp();
            $("#flv_youtube").slideUp();
            $("#thumb_config").show();
          }else{
            $("#flv_local").fadeIn();
            $("#flv_link").slideUp();
            $("#flv_youtube").slideUp();
            $("#thumb_config").show();
          }
        });


        $("#img_where").change(function() {
          if ($("#img_where").val()=="link"){
            $("#img_link").slideDown();
            $("#img_local").hide();
          }else{
            $("#img_local").slideDown();
            $("#img_link").hide();
          }
        });


        $('#youtube').change(function() {
          $('#title').val($('#youtube').val());
          $.post("link_ajax.php", { url: $('#youtube').val()},
           function(data) {
            var obj = $.parseJSON(data);
              $('#title').val(obj.title);
              $('#creator').val(obj.author);
              CKEDITOR.instances.editor_content.setData(obj.description);
           });
        });


        $('#LinkGet').click(function() {
          $.post("link_ajax.php", { url: $('#youtube').val()},
           function(data) {
            var obj = $.parseJSON(data);
              $('#title').val(obj.title);
              $('#creator').val(obj.author);
              CKEDITOR.instances.editor_content.setData(obj.description);
           });
        });

      });
    </script>

    <form action="uploads.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">
      <div class="alert alert-success">
        <div class="control-group">
          <div class="span4 controls">
            <select id="flv_where" class="span12">
              <option value="youtube" <{$selected_youtube}>><{$smarty.const._MD_TADPLAYER_YOUTUBE_FLV}></option>
              <option value="local" <{$selected_local}>><{$smarty.const._MD_TADPLAYER_UPLOAD_FLV}></option>
              <option value="link" <{$selected_link}>><{$smarty.const._MD_TADPLAYER_LINK_FLV}></option>
            </select>
          </div>
          <div class="span8 controls">
            <div id="flv_local">
              <input type="file" name="location" id="location" value="<{$location}>" class="span12">
            </div>

            <div id="flv_link">
              <input type="text" name="location" id="location" class="span12" value="<{$location}>" placeholder="<{$smarty.const._MD_TADPLAYER_FLV_LINK}>">
            </div>

            <div id="flv_youtube">
              <div class="row-fluid">
                <div class="span9">
                  <input type="text" name="youtube" id="youtube" class="span12" value="<{$youtube}>" placeholder="<{$smarty.const._MD_TADPLAYER_YOUTUBE_LINK}>">
                </div>
                <div class="span3">
                  <button type="button" class="btn btn-default" id="LinkGet"><{$smarty.const._MD_TADPLAYER_AUTO_GET}></button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group" id="thumb_config">
          <div class="span4 controls">
            <select id="img_where" class="span12">
              <option value="local" <{$selected_img_local}>><{$smarty.const._MD_TADPLAYER_UPLOAD_IMG}></option>
              <option value="link" <{$selected_img_link}>><{$smarty.const._MD_TADPLAYER_LINK_IMG}></option>
            </select>
          </div>
          <div class="span8 controls">
            <div id="img_local">
              <input type="file" name="image" value="<{$image}>" class="span12">
            </div>
            <div id="img_link">
              <input type="text" name="image" class="span12" value="<{$image}>" placeholder="<{$smarty.const._MD_TADPLAYER_IMG_LINK}>">
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="span1 control-label">
          <{$smarty.const._MD_TADPLAYER_OF_CSN}>
        </label>
        <div class="span3 controls">
          <select name="pcsn" size=1 class="span12">
            <{$cate_select}>
          </select>
        </div>
        <div class="span8 controls">
          <input type="text" name="new_pcsn" class="span12" placeholder="<{$smarty.const._MD_TADPLAYER_NEW_PCSN}>">
        </div>
      </div>



      <div class="control-group">
        <label class="span1 control-label">
          <{$smarty.const._MD_TADPLAYER_TITLE}>
        </label>
        <div class="span7 controls">
          <input type="text" name="title" id="title" class="span12" value="<{$title}>" placeholder="<{$smarty.const._MD_TADPLAYER_TITLE}>">
        </div>
        <div class="span4 controls">
          <input type="text" name="creator" id="creator" class="span12" value="<{$creator}>" placeholder="<{$smarty.const._MD_TADPLAYER_CREATOR}>">
        </div>
      </div>


      <div class="control-group">
        <div class="span12 controls">
          <{$editor}>
        </div>
      </div>


      <div class="control-group">
        <label class="span2 control-label">
          <{$smarty.const._MD_TADPLAYER_ENABLE_GROUP}>
        </label>

        <div class="span10 controls">
          <{foreach from=$group_arr key=group_id item=group_name}>
            <label class="checkbox inline">
              <input type="checkbox" name="enable_group[]" value="<{$group_id}>" <{if $group_id|in_array:$enable_group}>checked<{/if}>> <{$group_name}>
            </label>
          <{/foreach}>
        </div>
      </div>

      <div class="alert alert-info">
        <{$smarty.const._MD_TADPLAYER_ENABLE_GROUP_DESC}>
      </div>

      <div class="text-center">
        <input type="hidden" name="op" value="<{$next_op}>">
        <input type="hidden" name="psn" value="<{$psn}>">
        <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
      </div>

    </form>
  </div>
</div>