<{$bootstrap}>
<{$jquery}>
<{$toolbar}>
<script type='text/javascript' src='<{$xoops_url}>/modules/tad_player/class/ajax.js'></script>
<script type='text/javascript' src='<{$xoops_url}>/modules/tad_player/class/chained_selects.js'></script>


<script type="text/javascript">
function delete_tad_player_file_func(psn){
  var sure = window.confirm('<{$smarty.const._TAD_DEL_CONFIRM}>');
  if (!sure)  return;
  location.href="play.php?op=delete_tad_player_file&pcsn=<{$pcsn}>&psn=" + psn;
}
</script>

<div class="row-fluid">
  <div class="span5">
    <{$path_bar}>
  </div>

  <div class="span7 text-right">
    <{$select}>
  </div>
</div>

<div class="row-fluid">

</div>


<div class="row-fluid">
  <{$media}>
</div>


<div class="row-fluid">
  <div class="span7">
    <{$push}>
  </div>
  <div class="span2">
    <{$star_rating}>
  </div>
  <div class="span3 text-right">
    <{if $isAdmin}>
      <a href="javascript:delete_tad_player_file_func(<{$psn}>);" class='btn btn-danger'><{$smarty.const._TAD_DEL}></a>
      <a href="<{$xoops_url}>/modules/tad_player/uploads.php?psn=<{$psn}>#fragment-1" class="btn btn-warning"><{$smarty.const._TAD_EDIT}></a>
    <{/if}>
  </div>

</div>

<{if $content}>
<div class="well"><{$content}></div>
<{/if}>

<{if $code}>
  <div class="well"><{$code}></div>
<{/if}>



<{if $facebook_comments}>
  <div class="row-fluid">
    <{$facebook_comments}>
  </div>
<{/if}>

<!--Tad Player play_tpl.html-->

<p style="clear: both">
<div style="text-align: center; padding: 3px; margin: 3px;">
  <{$commentsnav}>
  <{$lang_notice}>
</div>

<div style="margin: 3px; padding: 3px;">
<!-- start comments loop -->
<{if $comment_mode == "flat"}>
  <{include file="db:system_comments_flat.html"}>
<{elseif $comment_mode == "thread"}>
  <{include file="db:system_comments_thread.html"}>
<{elseif $comment_mode == "nest"}>
  <{include file="db:system_comments_nest.html"}>
<{/if}>
<!-- end comments loop -->
</div>
</p>
