<{$bootstrap}>
<{$jquery}>
<{$toolbar}>


<script type="text/javascript">
  $(document).ready(function() {
    var $tabs = $("#tad_player_upload_tabs").tabs();
    var last_tab=$tabs.tabs("length")-1;
    <{if $show_to_batch_upload}>$tabs.tabs("select", last_tab);<{/if}>
  });
</script>

<div id="tad_player_upload_tabs">

  <ul>
      <li><a href="#fragment-1"><span><{$smarty.const._MD_TADPLAYER_UPLOAD}></span></a></li>
      <li><a href="jupload.php"><span><{$smarty.const._MI_TADPLAYER_JAVA_UPLOAD}></span></a></li>
      <li><a href="batch_upload.php"><span><{$smarty.const._MI_TADPLAYER_BATCH_UPLOAD}></span></a></li>
  </ul>
  <div id="fragment-1">

  <script type="text/javascript">
    $(document).ready(function() {
      <{$hide}>
      <{$hide_img}>

      $("#flv_where").change(function() {
        if ($("#flv_where").val()=="youtube") {
           $("#flv_youtube").slideDown();
           $("#flv_local").slideUp();
           $("#flv_link").slideUp();
           $("#thumb_config").hide();
        } else if ($("#flv_where").val()=="link"){
           $("#flv_link").slideDown();
           $("#flv_local").slideUp();
           $("#flv_youtube").slideUp();
           $("#thumb_config").show();
        }else{
           $("#flv_local").fadeIn();
           $("#flv_link").slideUp();
           $("#flv_youtube").slideUp();
           $("#thumb_config").show();
        }
      });


      $("#img_where").change(function() {
        if ($("#img_where").val()=="link"){
           $("#img_link").slideDown();
           $("#img_local").hide();
        }else{
           $("#img_local").slideDown();
           $("#img_link").hide();
        }
      });


    $('#youtube').change(function() {
      $('#title').val($('#youtube').val());
      $.post("link_ajax.php", { url: $('#youtube').val()},
       function(data) {
        var obj = $.parseJSON(data);
         $('#title').val(obj.title);
         $('#creator').val(obj.author);
         CKEDITOR.instances.editor_content.setData(obj.description);
       });
    });


    $('#LinkGet').click(function() {
      $.post("link_ajax.php", { url: $('#youtube').val()},
       function(data) {
        var obj = $.parseJSON(data);
         $('#title').val(obj.title);
         $('#creator').val(obj.author);
         CKEDITOR.instances.editor_content.setData(obj.description);
       });
    });

    });
    </script>
    <form action="uploads.php" method="post" id="myForm" enctype="multipart/form-data">
    <div class="row-fluid">
      <div class="span9">
        <div class="row-fluid">
          <div class="span3">
            <select id="flv_where" class="span12">
              <option value="youtube" <{$selected_youtube}>><{$smarty.const._MD_TADPLAYER_YOUTUBE_FLV}></option>
              <option value="local" <{$selected_local}>><{$smarty.const._MD_TADPLAYER_UPLOAD_FLV}></option>
              <option value="link" <{$selected_link}>><{$smarty.const._MD_TADPLAYER_LINK_FLV}></option>
            </select>
          </div>

          <div class="span9">
            <div id="flv_local">
              <input type="file" name="location" id="location" class="span12" value="<{$location}>">
            </div>

            <div id="flv_link">
              <input type="text" name="location" id="location" class="span12" value="<{$location}>" placeholder="<{$smarty.const._MD_TADPLAYER_FLV_LINK}>">
            </div>

            <div id="flv_youtube">
              <div class="row-fluid">
                <div class="span8">
                  <input type="text" name="youtube" id="youtube" class="span12" value="<{$youtube}>" placeholder="<{$smarty.const._MD_TADPLAYER_YOUTUBE_LINK}>">
                </div>
                <div class="span4">
                  <button type="button" class="btn" id="LinkGet"><{$smarty.const._MD_TADPLAYER_AUTO_GET}></button>
                </div>
              </div>
            </div>
          </div>

        </div>


        <div class="controls controls-row">
          <div class="span2"><{$smarty.const._MD_TADPLAYER_OF_CSN}></div>
          <select name="pcsn" size=1 class="span3">
          <{$cate_select}>
          </select>
          <input type="text" name="new_pcsn" class="span7" placeholder="<{$smarty.const._MD_TADPLAYER_NEW_PCSN}>">
        </div>


        <div class="controls controls-row">
          <input type="text" name="title" id="title" class="span9" value="<{$title}>" placeholder="<{$smarty.const._MD_TADPLAYER_TITLE}>">
          <input type="text" name="creator" id="creator" class="span3" value="<{$creator}>" placeholder="<{$smarty.const._MD_TADPLAYER_CREATOR}>">
        </div>

        <div class="controls controls-row" id="thumb_config">
          <select id="img_where" class="span3">
            <option value="local" <{$selected_img_local}>><{$smarty.const._MD_TADPLAYER_UPLOAD_IMG}></option>
            <option value="link" <{$selected_img_link}>><{$smarty.const._MD_TADPLAYER_LINK_IMG}></option>
          </select>

          <div id="img_local"><input type="file" name="image" class="span3" value="<{$image}>"></div>
          <div id="img_link"><input type="text" name="image" class="span3" value="<{$image}>" placeholder="<{$smarty.const._MD_TADPLAYER_IMG_LINK}>"></div>

        </div>

        <{if $logo_col and $choice_logo}>
        <div class="controls controls-row">
          <div class="span2"><{$smarty.const._MD_TADPLAYER_UPLOAD_LOGO}></div>
          <select name="logo_name" size=1 class="span3">
          <{$choice_logo}>
          </select>
          <input type="file" name="logo"  class="span7">
        </div>
        <{/if}>
      </div>

      <div class="span3">
        <{$smarty.const._MD_TADPLAYER_ENABLE_GROUP}>
        <{$enable_group}>
      </div>
    </div>
    <div class="row-fluid">
    <{$editor}>
    <div style="text-aling:center;">
    <input type="hidden" name="op" value="<{$next_op}>">
    <input type="hidden" name="psn" value="<{$psn}>">
    <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
    </div>
    </div>

    </form>
  </div>
</div>